body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #000e1e;
  width: 100%;
  height: 100vh;
  background-image: radial-gradient(
      circle at 20px 20px,
      #fff 1px,
      transparent 1px
    ),
    radial-gradient(circle at 60px 60px, #fff 1px, transparent 1px),
    radial-gradient(circle at 90px 90px, #fff 1px, transparent 1px),
    radial-gradient(circle at 40px 80px, #fff 1px, transparent 1px),
    radial-gradient(circle at 120px 30px, #fff 1px, transparent 1px),
    radial-gradient(circle at 200px 150px, #fff 1px, transparent 1px),
    radial-gradient(circle at 250px 180px, #fff 1px, transparent 1px),
    radial-gradient(circle at 180px 220px, #fff 1px, transparent 1px),
    radial-gradient(circle at 320px 90px, #fff 1px, transparent 1px),
    radial-gradient(circle at 400px 200px, #fff 1px, transparent 1px),
    radial-gradient(circle at 120px 300px, #fff 2px, transparent 2px),
    radial-gradient(circle at 60px 120px, #fff 2px, transparent 2px),
    radial-gradient(circle at 340px 250px, #fff 2px, transparent 2px),
    radial-gradient(circle at 80px 40px, #fff 2px, transparent 2px),
    radial-gradient(circle at 220px 320px, #fff 2px, transparent 2px),
    radial-gradient(circle at 280px 160px, #fff 2px, transparent 2px),
    radial-gradient(circle at 370px 400px, #fff 2px, transparent 2px),
    radial-gradient(circle at 420px 70px, #fff 2px, transparent 2px),
    radial-gradient(circle at 150px 370px, #fff 2px, transparent 2px),
    radial-gradient(circle at 60px 280px, #fff 2px, transparent 2px),
    radial-gradient(circle at 480px 130px, #fff 3px, transparent 3px),
    radial-gradient(circle at 390px 290px, #fff 3px, transparent 3px),
    radial-gradient(circle at 200px 380px, #fff 3px, transparent 3px),
    radial-gradient(circle at 310px 120px, #fff 3px, transparent 3px),
    radial-gradient(circle at 450px 220px, #fff 3px, transparent 3px),
    radial-gradient(circle at 70px 340px, #fff 3px, transparent 3px),
    radial-gradient(circle at 320px 400px, #fff 3px, transparent 3px),
    radial-gradient(circle at 180px 120px, #fff 3px, transparent 3px),
    radial-gradient(circle at 420px 350px, #fff 3px, transparent 3px),
    radial-gradient(circle at 210px 40px, #fff 3px, transparent 3px);
  background-size: 800px 600px; /* Adjust size as needed */
  background-repeat: repeat;
}

.App {
  text-align: center;
  background-color: #000e1e;
  height: calc(100vh - 60px);
  /* Adjusting for the navbar */
  color: white;
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}

.container {
  padding-top: 100px;
  width: 100%;
}

.card-wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px; /* Reduced gap between cards */
}

.card {
  background-color: #021424;
  border: 1px solid #2abfff;
  border-radius: 10px;
  padding: 20px;
  margin: 10px; /* Reduced margin */
  width: 300px;
  text-align: left;
  color: white;
  cursor: pointer;
}

.card img {
  width: 100%;
  border-radius: 5px;
}

.card h2 {
  color: #2abfff;
}

.selected-card {
  background: linear-gradient(45deg, #aa2aff, #021424);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #000e1e;
  padding: 10px 40px;
  height: 60px;
}

.color-primary {
  color: #2abfff;
}

#logo {
  cursor: pointer;
}

#api-key {
  padding: 5px 15px;
  border-radius: 5px;
  outline: none;
  border: 1px solid #2abfff;
  background-color: #021424;
  color: white;
}

#api-key::placeholder {
  color: #7a7a7a;
}

h1 {
  font-size: 50px;
}

.primaryColor {
  color: #2a9fff;
}

.secondaryColor {
  color: rgb(184, 65, 184);
}

#mainForm {
  margin: 20px auto;
  display: flex;
  justify-content: center;
}

#mainForm input {
  width: 250px;
  padding: 10px 20px;
  border-radius: 100px;
  border: 1px solid white;
  outline: none;
}

#mainButton, #addBtn {
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 1rem;
  border: 1px solid #e02aff;
  outline: none;
  background-color: #2abfff;
  color: white;
  font-weight: 900;
  margin-left: 10px;
  cursor: pointer;
  text-transform: uppercase;
}

#mainButton:hover {
  background-color: #be2dd791;
}

#response {
  max-width: 700px;
  margin: auto;
  text-align: left;
  padding: 10px;
  color: white;
}

#response-div {
  color: white;
  font-size: 20px;
  max-width: 900px;
  margin: auto;
  padding-bottom:200px;
}

#myDropdown {
  padding: 8px;
  font-size: 16px;
  margin-left: 1100px;
  width: 200px;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}